In [ ]:
import pandas as pd

In [2]:
animelist = pd.read_csv('animelist.csv')

In [3]:
animelist.head()

   user_id  anime_id  rating  watching_status  watched_episodes
0        0        67       9                1                 1
1        0      6702       7                1                 4
2        0       242      10                1                 4
3        0      4898       0                1                 1
4        0        21      10                1                 0

In [4]:
anime = pd.read_csv('anime_synopsys.csv')

In [5]:
anime.head()

,MAL_ID,Name,Score,Genres,synopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...

In [6]:
anime_id = set(anime['MAL_ID'])

In [7]:
anime_id2 = set(animelist['anime_id'])

In [8]:
len(anime_id)

10909

In [9]:
len(anime_id2)

17562

In [10]:
max(anime_id2)

48492

In [11]:
max(anime_id)

48456

In [13]:
anime.columns = ['anime_id', 'Name', 'Score', 'Genres', 'synopsis']

In [14]:
anime.to_csv('anime_synopsys.csv', index=False,encoding='utf-8-sig')

In [15]:
rating = pd.read_csv('rating_complete.csv')

In [16]:
rating

          user_id  anime_id  rating
0               0       430       9
1               0      1004       5
2               0      3010       7
3               0       570       7
4               0      2762       9
...           ...       ...     ...
57633273   353404       502       8
57633274   353404       987       4
57633275   353404       225       8
57633276   353404       243       7
57633277   353404       896       7

[57633278 rows x 3 columns]