In [1]:
import pandas as pd

In [2]:
chunk_size = 100000

In [3]:
final_pivot = pd.DataFrame()

In [4]:
chunks = pd.read_csv('animelist.csv', chunksize=chunk_size)

In [6]:
import dask.dataframe as dd

# Step 1: Load the CSV file into a Dask DataFrame
ddf = dd.read_csv('animelist.csv')

# Step 2: Perform the pivot operation
pivot_ddf = ddf.pivot_table(index='user_id', columns='anime_id', values='rating', aggfunc='first')

# Step 3: Compute the final result and convert to pandas DataFrame if needed
final_pivot = pivot_ddf.compute()

# Step 4: Save the final pivot table to CSV
final_pivot.to_csv('pivoted_file.csv')

ModuleNotFoundError: No module named 'dask'

In [3]:
df.head()

   user_id  anime_id  rating  watching_status  watched_episodes
0        0        67       9                1                 1
1        0      6702       7                1                 4
2        0       242      10                1                 4
3        0      4898       0                1                 1
4        0        21      10                1                 0

In [4]:
rating = pd.read_csv('rating_complete.csv')

In [5]:
rating

          user_id  anime_id  rating
0               0       430       9
1               0      1004       5
2               0      3010       7
3               0       570       7
4               0      2762       9
...           ...       ...     ...
57633273   353404       502       8
57633274   353404       987       4
57633275   353404       225       8
57633276   353404       243       7
57633277   353404       896       7

[57633278 rows x 3 columns]

In [6]:
df

           user_id  anime_id  rating  watching_status  watched_episodes
0                0        67       9                1                 1
1                0      6702       7                1                 4
2                0       242      10                1                 4
3                0      4898       0                1                 1
4                0        21      10                1                 0
...            ...       ...     ...              ...               ...
109224742   353404       507       7                2                 2
109224743   353404       392       9                2               112
109224744   353404       882       6                2                 1
109224745   353404       883       8                2                 1
109224746   353404       149       0                6                 0

[109224747 rows x 5 columns]

In [7]:
len(set(df['anime_id']))

17562

In [8]:
mat = df.pivot(columns = 'anime_id', index='user_id',values='rating')

c:\users\82104\documents\web\github\doit\venv\lib\site-packages\pandas\core\reshape\reshape.py:125: RuntimeWarning: overflow encountered in scalar multiply
  num_cells = num_rows * num_columns

MemoryError: Unable to allocate 833. MiB for an array with shape (109224746,) and data type int64